body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: #f7f7f7;
}


.form-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
    background: #ffffff;
}

.form-content {
  justify-content: center;
    align-items: center;
   min-height: calc(100% - 80px);
    display: flex;
    border: 0px solid green;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; 
}

.form1 {
    width: 25%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #2eb011;
    border-radius: 8px;
    opacity: 1;
    margin-bottom: 50px;
    margin-top: 50px;
}

.form-head {
    flex-direction: row;
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0.5px;
    color: #ffffff;
    width: 100%;
    font-weight: 20;
    text-transform: capitalize;
    opacity: 1;
    background-color: #0de974;
    text-align: center;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    border-radius: 8px;
}

.body {
    padding: 25px;
}

Button{
    padding-top: 30px;
}
.button{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

