.App {
  text-align: center;
}

.logo-content{
  display: flex;
  flex-direction: column;
}


body {
  margin: 0;
  height: 100%;
}

.header {
  padding: 15px 0;
  background-color: rgb(90, 230, 219);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid green;
}

.logo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0px solid green;
  width: 80%;
}

span{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0px solid green;
  width: 80%;
}

Link{
  flex-direction: row-reverse;
  margin-left: 400px;
}

.login{
  margin-right: 20px;
  padding: auto;
}
